<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="1.2.0" targetFramework="wpa81" />
  <package id="Microsoft.ApplicationInsights.PersistenceChannel" version="1.2.0" targetFramework="wpa81" />
  <package id="Microsoft.ApplicationInsights.WindowsApps" version="1.1.0" targetFramework="wpa81" />
  <package id="NumberBox" version="1.0.5716.29105" targetFramework="wpa81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="wpa81" />
</packages>